<nav>
  <ul>
    <li>
      <%= link_to user_groups_path(@user) do %>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-left navBtn"><path d="m15 18-6-6 6-6"/></svg>
      <% end %>
    </li>
    <li><p>Profile</p></li>
    <li>
      <%= button_to destroy_user_session_path, :class=>'logout', method: :delete do %>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-log-out navBtn"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"/><polyline points="16 17 21 12 16 7"/><line x1="21" x2="9" y1="12" y2="12"/></svg>
      <% end %>
    </li>
  </ul>
</nav>

<section class='user-container'>
  <h4>Welcome Back!</h4>
  </br>
  </br>
  <h2><%= @user.name %></h2>
  <%= form_for @user, url: update_avatar_user_path(@user), html: { method: :patch, multipart: true } do |f| %>
    <div class="field">
      <%= f.label :avatar, 'Profile Picture' %>
      <%= f.file_field :avatar %>
    </div>
    <div class="actions">
      <%= f.submit 'Upload Profile Picture' %>
    </div>
  <% end %>

  <!-- Display the user's current profile picture if available -->
  <% if @user.avatar.attached? %>
    <%= image_tag @user.avatar.variant(resize: '100x100') %>
  <% end %>

  <br>
  <p>Thank you for using our app.</p>
</section>